	<ul>

	<li class="page_item page-item-2"><a href="/" title="Home">Home</a></li>
	<li class="page_item page-item-2"><a href="/artists" title="Artists">Artists</a></li>
	<li class="page_item page-item-2"><a href="/galleries" title="Galleries">Galleries</a></li>
	<li class="page_item page-item-2"><a href="/museums" title="Museums">Museums</a></li>
	<li class="page_item page-item-2"><a href="/articles">Articles</a></li>
	<li class="page_item page-item-2"><a href="/" title="Home">About</a></li>
	<li class="page_item page-item-2"><a href="/" title="Home">Advertise</a></li>
	<li class="page_item page-item-2"><a href="/" title="Home">Contact</a></li>
	<li class="page_item page-item-2"><a href="/" title="Home">Links</a></li>
	<li class="page_item page-item-2"><a href="/" title="Home">Newsletter</a></li>

	</ul>