	<ul>

	<li class="page_item"><a href="/">Home</a></li>
	<li class="page_item page-item-2"><a href="/artists" title="Artists">Artists</a></li>
	<li class="page_item page-item-2"><a href="/galleries" title="Galleries">Galleries</a></li>

	<li class="page_item page-item-2"><a href="http://www.miamiartexchange.com/maex_artblog/about/" title="About">About</a></li>

<li class="page_item page-item-1066"><a href="http://www.miamiartexchange.com/maex_artblog/advertise/" title="Advertise">Advertise</a></li>
<li class="page_item page-item-768"><a href="http://www.miamiartexchange.com/maex_artblog/contact/" title="Contact">Contact</a></li>
<li class="page_item page-item-772"><a href="http://www.miamiartexchange.com/maex_artblog/links/" title="Links">Links</a></li>
<li class="page_item page-item-771"><a href="http://www.miamiartexchange.com/maex_artblog/newsletter/" title="Newsletter">Newsletter</a></li>

	</ul>